---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  <div class="grayfont op50 tleft">
    <small><i>soli deo gloria</i></small>
  </div>
  <div class="tcent tmar25">
    <video width="75%" height="auto" controls src="https://s3.us-east-2.amazonaws.com/brandon-personal/brandon-mills-intro-vid-3.mp4" type="video/mp4" poster="/img/welcome-vid-brandon.png" class="picshad">
      Your browser does not support HTML5 video.
    </video>
  </div>
  {% endif %}
  <div class="work center">
    <h2>Recent Projects</h2>
    {% for project in site.portfolio reversed limit:10 %}
    <a href="{{ project.url }}">
      <div class="picshad pad15 tmar50">
        <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}"/>
        <div class="tline">
          <div class="font2rem">
            {{ project.title }}<br>
          </div>
          <small class="grayfont"><i>{{ project.date | date: '%B %-Y' }}</i></small>
          <p class="tmar25 blackfont">{{ project.short-description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="posts">
    <h2>Posts</h2>
    {% for post in site.posts %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
